{% extends "base.html" %}

{% block content %}
<a href="{% url 'images' %}" class="link-underline link-underline-opacity-0 mb-3"><i class="bi bi-caret-left-fill"></i> Images</a>


<h4 class="mb-4">{{image_data.name}}</h4>

<div class="overflow-auto">
  <ul>
    <li>
      Architecture: {{ image_data.attrs.Architecture }}
    </li>
    <li>id: {{ image_data.short_id }}</li>
    <li>
      CMD: {{ image_data.attrs.Config.Cmd }}
    </li>
    <li>
      Env vars:
      <pre>{{ image_data.attrs.Config.Env|pprint }}</pre>
    </li>

    <pre>{{ image_data.attrs|pprint }}</pre>

  </ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var btnLoading = document.getElementById("btnLoading");
    var loadingDiv = document.getElementById("loading");

    btnLoading.addEventListener("click", function() {
      btnLoading.classList.add("d-none");
      loadingDiv.classList.remove("d-none");
    });
  });
</script>

{% endblock %}
