{% extends "base.html" %}

{% block content %}

{% load image_tags %}

<div class="btn-toolbar justify-content-between">
  <h4 class="mb-4">Images</h4>

  <form action="{% url 'pull_image' %}", method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
      <input type="text" name="image_name" class="form-control me-2 rounded-custom" placeholder="alpine:latest">
      <button id="btnLoading" class="btn btn-outline-primary rounded-custom" type="submit">Pull</button>
      <div id="loading" class="d-none">
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          <span class="visually-hidden" role="status">Loading...</span>
        </button>
      </div>
    </div>
  </form>
</div>

{% for image in images %}
  <div class="card shadow p-2 my-2">
    <div class="row">
      <div class="col">
        <a href="{% url 'image_detail' image.short_id %}">
          {% if not image.tags %}
            <span class="ms-2">none</span>
          {% else %}
            <span class="ms-2">{{ image.tags.0|get_image_name }}</span>
          {% endif %}
        </a>
        <div class="mt-2">
          <small class="ms-2 clipboard-container" data-short-id="{{ image.short_id|slice:"7:" }}">
            {{ image.short_id|slice:"7:" }}
            <i class="btn bi bi-clipboard clipboard-icon" onclick="copyToClipboard(this)"></i>
          </small>
        </div>
      </div>
      <div class="col-2">
        {% if not image.tags %}
          <span class="ms-2">none</span>
        {% else %}
          <span class="ms-2">{{ image.tags.0|get_image_tag }}</span>
        {% endif %}
      </div>
      <div class="col-1">
        <div class="btn-toolbar float-end">
          <a href="{% url 'remove_image' image.short_id %}" class="btn btn-light">
            <i class="bi bi-trash-fill text-danger"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- <pre>{{ image.attrs|pprint }}</pre> -->
    <!-- <pre>{{ image_data.attrs.Config.Env|pprint }}</pre> -->
  </div>
{% endfor %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var btnLoading = document.getElementById("btnLoading");
    var loadingDiv = document.getElementById("loading");

    btnLoading.addEventListener("click", function() {
      btnLoading.classList.add("d-none");
      loadingDiv.classList.remove("d-none");
    });
  });
</script>

{% endblock %}
