{% extends "base.html" %}

{% block content %}

<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="row w-100 h-75">
    <div class="col-6 h-100">
      <div class="row" style="height: 86%;">
        <div class="col h-100">
          <div class="card p-3 h-100 overflow-auto">
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 h-100">
      <div class="card p-3 h-100">
      </div>
    </div>
    <div class="col-12 mt-3 w-50 m-auto">
      {% include 'flash_message.html' %}
    </div>
  </div>

</div>





{% endblock %}
