<div class="mt-4 mb-3 style="height: 14%;">
  <div class="col d-flex justify-content-center align-items-center">
    <div class="card shadow">
      <nav id="nav_id">
        <ul class="nav nav-pills p-1">
          <li class="nav-item ">
            <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">
              <i class="bi bi-house-fill"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-1 {% if request.resolver_match.url_name == 'containers' or request.resolver_match.url_name == 'container_detail' or request.resolver_match.url_name == 'new_container' %}active{% endif %}" href="{% url 'containers' %}">
              <i class="bi bi-hdd-rack-fill"></i>
              Workers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'images' or request.resolver_match.url_name == 'image_detail' %}active{% endif %}" href="{% url 'images' %}">
              <i class="bi bi-box-fill"></i>
              Images
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="card ms-2 p-1 shadow rounded-5">
      <div class="dropup bd-mode-toggle">
        <button class="btn btn-light rounded-5 py-2 d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (light)">
          <i class="bi bi-person-circle text-primary" id="profile-icon"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow mt-2">
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="true">
              <i class="bi bi-box-arrow-left text-danger me-2"></i>
              Logout
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
              <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
              Dark
              <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
              <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
              Auto
              <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
